GEMINI_API_KEY=
GOOGLE_CSE_API_KEY=
GOOGLE_CSE_CX=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

GEMINI_PROXY=

YOUTUBE_CLIENT_SECRET=


PREVIEW_DIR=
WEB_TMP_DIR=
STATIC_DIR=

CLEANUP_OLDER_THAN_HOURS = 24
CLEANUP_DRY_RUN=0
MAX_PREVIEW_FILES=100

SESSION_SECRET=
ADMIN_USERNAME=
ADMIN_PASSWORD_HASH=


TELEGRAM_SITE_CREDENTIALS_JSON='{
  
  
}'
